html
{
    font-family: sans-serif;
}
body
{
    color: hsl(210, 11%, 15%);
}
a
{
    color: #000000;
}
.hide
{
    display: none;
}
header
{
    width: 100%;
    position: relative;
}
.top-box
{
    background-color: hsl(0, 0%, 90%);
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    font-family: sans-serif;
    padding-left: 30em;
    padding-right: 30em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}
.top-box__element span
{
    color: hsl(0, 100%, 40%);
    font-weight: bold;
}
.top-box__element:nth-child(2)
{
    font-size: 0.7rem;
}
.title-box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 100%, 40%);
    height: 10.2vh;
    padding-left: 22.6em;
    padding-right: 22em;
}
.title-box .menu-icon
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.5em;
    width: 2em;
    cursor: pointer;
}
.menu-icon .menu-icon__element
{
    border-radius: 9px 9px;
    width: 30px;
    height: 5px;
    background-color: hsl(0, 0%, 100%);
}
.title-box__element > p
{
    font-family: 'Alfa Slab One', cursive;
    font-size: 3.5rem;
    color:hsl(0, 0%, 100%);
}
.button
{
    border: none;
    border-radius: 0.25rem;
    max-width: 100%;
    padding: 0.5em 0.6em;
    cursor: pointer;
}
.title-box__element__sign-in
{
    display: flex;
    align-items: center;
    background-color:  hsl(0, 0%, 90%);
    font-size: 0.9rem;
    padding: 0.3em 0.6em;
}
.title-box__element__sign-in svg
{
    width: 1.8em;
    height: 1.8em;
}
.title-box__element__register
{
    background-color: hsl(47, 100%, 50%);
    font-weight: bold;
    font-family: 'Times New Roman';
    font-style: italic;
}
.title-box__element.buttons
{
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
}
.buttons-box
{
    margin: 0 0.5em;
}
.nav-inline
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color:hsl(0, 0%, 90%);
    border-bottom: 3px hsl(0, 0%, 77%) solid;
    height: 4vh;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'Roboto Condensed';
    margin-top: 0.3em;
    padding-left: 25em;
    padding-right: 25em;
}
.nav-inline__element
{
    cursor: pointer;
}
.nav-inline__element svg:nth-last-child(1)
{
    width: 1.5em;
    height: 1.5em;
}
.nav-inline__element svg:nth-last-child(2)
{
    width: 1.5em;
    height: 1.5em;
}
main
{
    padding-left: 14em;
    padding-right: 14em;
    margin: 0.5em 0;
}
.newsletter__ads:nth-child(2)
{
    width: 100%;
    background-position: cover;
}
.nav-list
{
    background-color: hsl(210, 11%, 15%);
    color: hsl(0, 0%, 100%);
    font-family: 'Roboto Condensed';
    font-size: 1rem;
    width: 35.4em;
    z-index: 2;
    position: absolute;
    left: 25em;
    bottom: 20em;
    border-bottom: 3px hsl(0, 100%, 40%) solid;
}
.nav-list svg:nth-child(1)
{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.4em;
}
.nav-list__option
{
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    padding: 0.5em 1.5em;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px hsl(0, 0%, 85%) solid;
}
.nav-list__option:nth-child(1)
{
    height: 2.1em;
}
.nav-list__option .plus-icon
{
    font-weight: bold;
    color:hsl(0, 100%, 40%);
}
.nav-list__option:nth-child(1)
{
    border: none;
    background-color: hsl(0, 0%, 20%);
}
.nav-list__option input
{
    border: none;
    background-color: hsl(0, 0%, 20%);
    color:hsl(0, 0%, 100%);
    font-family: 'Roboto Condensed';
    height: 2.5em;
    width: 32em;
    padding: 0.5em;
}