/**
{
    box-sizing: border-box;
    outline: 1px red solid;
}*/
html
{
    font-family: sans-serif;
}
body
{
    color: hsl(210, 11%, 15%);
}
a
{
    color: #000000;
}
header
{
    width: 100%;
    position: relative;
}
.top-box
{
    background-color: hsl(0, 0%, 90%);
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    font-family: sans-serif;
    padding-left: 30em;
    padding-right: 30em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}
.top-box__element span
{
    color: hsl(0, 100%, 40%);
    font-weight: bold;
}
.top-box__element:nth-child(2)
{
    font-size: 0.7rem;
}
.title-box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 100%, 40%);
    height: 10.2vh;
    padding-left: 22.6em;
    padding-right: 22em;
    position: relative;
}

.title-box .menu-icon
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.5em;
    width: 2em;
    cursor: pointer;
}
.menu-icon .menu-icon__element
{
    border-radius: 9px 9px;
    width: 30px;
    height: 5px;
    background-color: hsl(0, 0%, 100%);
}
.title-box__element > p
{
    font-family: 'Alfa Slab One', cursive;
    font-size: 3.5rem;
    color:hsl(0, 0%, 100%);
}
.button
{
    border: none;
    border-radius: 0.25rem;
    max-width: 100%;
    padding: 0.5em 0.6em;
    cursor: pointer;
}
.title-box__element__sign-in
{
    display: flex;
    align-items: center;
    background-color:  hsl(0, 0%, 90%);
    font-size: 0.9rem;
    padding: 0.3em 0.6em;
}
.title-box__element__sign-in svg
{
    width: 1.8em;
    height: 1.8em;
}
.title-box__element__register
{
    background-color: hsl(47, 100%, 50%);
    font-weight: bold;
    font-family: 'Times New Roman';
    font-style: italic;
}
.title-box__element.buttons
{
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
}
.buttons-box
{
    margin: 0 0.5em;
}
.nav-inline
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color:hsl(0, 0%, 90%);
    border-bottom: 3px hsl(0, 0%, 77%) solid;
    height: 4vh;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'Roboto Condensed';
    margin-top: 0.3em;
    padding-left: 25em;
    padding-right: 25em;
}
.nav-inline__element
{
    cursor: pointer;
}
.nav-inline__element svg:nth-last-child(1)
{
    width: 1.5em;
    height: 1.5em;
}
.nav-inline__element svg:nth-last-child(2)
{
    width: 1.5em;
    height: 1.5em;
}
main
{
    width: 62%;
    margin: 0.5em auto;
    z-index: 2;
    position: relative;
}
.courtain
{
    display: none;
}
.courtain.active
{
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #000a;
    z-index: 3;
    position: absolute;
}
.nav-list
{
    display: none;
    background-color: hsl(210, 11%, 15%);
    color: hsl(0, 0%, 100%);
    font-family: 'Roboto Condensed';
    font-size: 1rem;
    width: 35.4em;
    z-index: 5;
    position: absolute;
    left: 22em;
    top: 6em;
    border-bottom: 3px hsl(0, 100%, 40%) solid;
}
.nav-list.active
{
    display: block;
    animation: animationNav 0.3s linear;
}
@keyframes animationNav
{
    0%
    {
        opacity: 0;
        transform: translateY(-10px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}
.nav-list svg:nth-child(1)
{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.4em;
}
.nav-list__option
{
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    padding: 0.5em 1.5em;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px hsl(0, 0%, 85%) solid;
}
.nav-list__option:nth-child(1)
{
    height: 2.1em;
}
.nav-list__option .plus-icon
{
    font-weight: bold;
    color:hsl(0, 100%, 40%);
}
.nav-list__option:nth-child(1)
{
    border: none;
    background-color: hsl(0, 0%, 20%);
}
.nav-list__option input
{
    border: none;
    background-color: hsl(0, 0%, 20%);
    font-family: 'Roboto Condensed';
    height: 2.5em;
    width: 32em;
    padding: 0.5em;
    color:hsl(0, 0%, 100%);
    font-weight: bold;
}
.nav-list__option .text
{
    color:hsl(0, 0%, 100%);
}
.nav-list__social-media
{
    display: flex;
    flex-direction: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    font-size: 0.89rem;
}
.nav-list__social-media svg
{
    color: hsl(0, 0%, 100%);
    fill:hsl(0, 0%, 100%);
    width:50px;
}
.nav-list__bottom-links
{
    display: flex;
    flex-direction: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 1em 0.9em;
}
.nav-list__bottom-links a
{
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
}
.ad-top
{
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
}
.hover-red:hover
{
    transition: 0.2s linear;
    color: hsl(0, 100%, 40%);
}
.newsletter
{
    margin-top: 1em;
}
.newsletter__first-row
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.newsletter__first-row img
{
    max-width: 100%;
    height: auto;
}
.newsletter__first-row__article
{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.newsletter__first-row .category
{
    color:hsl(0, 100%, 40%);
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 1em;
}
.newsletter__first-row .title
{
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}
.newsletter__first-row .author a
{
    display: block;
    margin-top: 1em;
    color: hsl(0, 0%, 37%);
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 1em;
}
.newsletter__first-row .description
{
    font-family: serif;
    font-size: 1.2rem;
}
.newsletter__second-row
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-top: 1em;
}
.newsletter__second-row__element img
{
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5em;
}
.newsletter__second-row__element
{
    width: 23%;
}
.newsletter__second-row__element a
{
    font-weight: bold;
    text-align: left;
    font-size: 1.1rem;
}
@media screen and (max-width: 1530px)
{
    .newsletter__ad img
    {
        display: none;
    }
    
}